<div class="card-group">
    <div class="card-body">
<div id="<%= dom_id speech %>">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">Description</h3>
    <p class="card-text"> <%= speech.description %></p>
    <h3 class="card-title">Time</h3>
    <p class="card-text"> <%= speech.time %></p>
    <h3 class="card-title">Hour</h3>
    <p class="card-text"> <%= speech.hour %></p>
    <a href="#" class="btn btn-primary">Donwload</a>
  </div>
</div>
</div>
</div>
</div>
</div>