<div id="<%= dom_id speech %>">
  <p>
    <strong>Description:</strong>
    <%= speech.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= speech.time %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= speech.hour %>
  </p>

</div>
