<h1>Editing speech</h1>

<%= render "form", speech: @speech %>

<br>

<div>
  <%= link_to "datelhes", @speech, class: "btn btn-secondary" %> 
  <%= link_to "voltar", speeches_path, class: "btn btn-success" %>
</div>
