<p style="color: green"><%= notice %></p>

<h1>Speeches</h1>

<div id="speeches">
  <% @speeches.each do |speech| %>
    <%= render speech %>
    <p>
      <%= link_to "Show this speech", speech, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "New speech", new_speech_path, class: "btn btn-primary" %>
